* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eeeeee;
}
.content {
  max-width: 430px;
  width: 100%;
  background-color: white;
}
.flex-input {
  background-color: red;
  display: flex;
  justify-content: center;
}
